-- Complete Database Fix Script for Pharm Flow Connect

-- Run this in your Supabase SQL Editor

-- 1. Drop existing products tables if they exist
DROP TABLE IF EXISTS public.products CASCADE;

-- 2. Create a unified products table with all necessary columns
CREATE TABLE public.products (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  name VARCHAR NOT NULL,
  description TEXT,
  category VARCHAR NOT NULL,
  sku VARCHAR UNIQUE,
  stock INTEGER NOT NULL DEFAULT 0,
  min_stock_level INTEGER NOT NULL DEFAULT 0,
  buy_price DECIMAL(10,2) NOT NULL,
  sell_price DECIMAL(10,2) NOT NULL,
  is_wholesale_product BOOLEAN DEFAULT false,
  is_retail_product BOOLEAN DEFAULT false,
  is_public_product BOOLEAN DEFAULT false,
  wholesaler_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  pharmacy_id UUID REFERENCES auth.users(id) ON DELETE SET NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
